@import "../../constants/variables";

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $offset-base-size #{$offset-base-size * 2};
  background-color: $bg-input;
  color: $text-primary;
  font-size: 16px;
  line-height: 16px;
  border-radius: 2px;
  font-weight: 400;
  border: none;
  box-shadow: none;
  transition: background-color 0.25s ease-in-out;

  &:hover {
    background-color: $bg-accent;
  }

  &:active,
  &.active {
    background-color: $bg-accent;
  }
}



