.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--offset-base-size) calc(var(--offset-base-size) * 2);
  background-color: var(--bg-input);
  color: var(--text-primary);
  font-size: 16px;
  line-height: 16px;
  border-radius: 2px;
  font-weight: 400;
  border: none;
  box-shadow: none;
  transition: background-color 0.25s ease-in-out;

  &:hover {
    background-color: var(--bg-accent);
  }

  &:active,
  &.active {
    background-color: var(--bg-accent);
  }
}



