.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 0;
  margin: calc((var(--offset-base-size) / 2) * -1);
  list-style: none;
}

.tag {
  margin: calc(var(--offset-base-size) / 2);
}