@import "../../constants/variables";

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 0;
  margin: #{($offset-base-size / 2) * -1};
  list-style: none;
}

.tag {
  margin: #{$offset-base-size / 2};
}