.sidebar {
  padding: calc(var(--offset-base-size) * 4);
  background-color: var(--bg-secondary);
}

.title {
  font-size: 16px;
  line-height: 24px;
  color: var(--text-primary);
  font-weight: 700;
  margin-bottom: calc(var(--offset-base-size) * 4);
}