$BlackColor:#0A0A0A;
$GreyColor:#373D43;
$RedColor:#FF0000;
$FontColor:#B8B8B8;
$FontColorActive:#EBEBEB;

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $BlackColor;
  color: $FontColor;
  font-size: 16px;
  font-weight: 700;
  padding: 1rem 1.5rem;
  border: none;

  &:hover {
    background-color: $GreyColor;
  }

  &:active {
    color:$FontColorActive;
    box-shadow: 0 2px 0 0 $RedColor;
  }

}


