@import-normalize; /* bring in normalize.css styles */

@font-face {
    font-family: Consolas;
    font-style: normal;
    src: url("./asserts/fonts/consola.woff") format("woff");
}

:root {
    /* Colors */
    --bg-primary: #0A0A0A;
    --bg-secondary: #1F1F1F;
    --bg-input: #292929;
    --bg-accent: #FF0000;
    --text-primary: #EBEBEB;
    --text-secondary: #B8B8B8;
    /* Sizes */
    --offset-base-size: 4px;
}

body {
    font-family: Consolas, sans-serif, Arial;
}
