@import-normalize; /* bring in normalize.css styles */

@font-face {
    font-family: Consolas;
    font-style: normal;
    src: url("./asserts/fonts/consola.woff") format("woff");
}

body {
    font-family: Consolas, sans-serif, Arial;
}
